@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;;
}

main {
    background-image: url('../images/ceu-azul-fantastica.jpg');
    padding: 20px;
    flex-direction: column;
    text-align: center;
}

#titulo-descricao {
    margin: 20px 0 20px 0;
    padding-bottom: 8%;
    padding-top: 8%;
}

#titulo {
    font-family: Adobe Naskh Medium;
    font-size: 70px;
}

#descricao {
    font-size: 30px;
    color: rgb(86, 87, 94);
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
   
}

footer .info-linguagens {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin-top: 1%;
}

footer .info-linguagens h4{
    font-size: 25px;
    padding: 0.5em;
    text-decoration: none;
}

footer .info-linguagens h4 :hover{
    color: rgb(0, 30, 255) ;
    cursor: pointer;
}

footer .info-linguagens h4 a{
    color:rgb(0, 170, 255);
    text-decoration: none;
}

footer .logo {
    width: 100px;
}